In [1]:
import pandas as pd

In [2]:
train_pos_neg_file = "./../data/train_data/MSCG/70k_train_ms_concept_graph.tsv"
valid_pos_neg_file = "./../data/train_data//MSCG/70k_valid_ms_concept_graph.tsv"
test_pos_neg_file = "./../data/evaluation_data/MSCG/70k_test_ms_concept_graph.tsv"

In [3]:
df_train_pos_neg = pd.read_csv(train_pos_neg_file, sep="\t", header=None, names = ["concept", "property", "label"])

In [4]:
df_train_pos_neg

           concept                  property  label
0          geology               improvement      0
1         titanium  western european country      0
2        soil type                 component      0
3      temperature         process condition      1
4      fresh fruit                    nation      0
...            ...                       ...    ...
67644      montana                     state      1
67645          fwd                   feature      1
67646        metal                warm color      0
67647       closet          volatile solvent      0
67648         part      popular video format      0

[67649 rows x 3 columns]

In [5]:
df_valid_pos_neg = pd.read_csv(valid_pos_neg_file, sep="\t", header=None, names = ["concept", "property", "label"])

In [6]:
df_valid_pos_neg

              concept              property  label
0           legal fee              artifact      0
1              market               solvent      0
2                jazz             pollutant      0
3     dichloromethane                 plant      0
4               fruit          healthy food      1
...               ...                   ...    ...
7312  business center              facility      1
7313             dhea               illness      0
7314  tablet computer              activity      0
7315        whole egg  environmental factor      0
7316      agriculture                 nsaid      0

[7317 rows x 3 columns]

In [7]:
df_test_pos_neg = pd.read_csv(test_pos_neg_file, sep="\t", header=None, names = ["concept", "property", "label"])

In [8]:
df_test_pos_neg

                   concept                  property  label
0                aspartame                     issue      0
1                       au                      site      0
2                   fabric         electronic device      0
3      external hard drive  short phrase requirement      0
4                    shock                  material      0
...                    ...                       ...    ...
3624  rheumatoid arthritis       cash financial loan      0
3625                cheese                dairy food      1
3626             diagnosis      money financial loan      0
3627              inductor                  exercise      0
3628               allergy                    fabric      0

[3629 rows x 3 columns]

In [9]:
df_pos_train = df_train_pos_neg[df_train_pos_neg["label"] == 1]

In [10]:
df_pos_train

             concept           property  label
3        temperature  process condition      1
8         industrial           industry      1
31              iraq             nation      1
49              lamb               meat      1
54          computer          equipment      1
...              ...                ...    ...
67633       epilepsy  medical condition      1
67635  exposure time             factor      1
67639       toiletry               item      1
67644        montana              state      1
67645            fwd            feature      1

[11670 rows x 3 columns]

In [11]:
# Checking overlap with test data
df_overlap_train_test = df_test_pos_neg.merge(df_pos_train, how = 'inner', on = ["concept", "property"], indicator=False)
df_overlap_train_test

Empty DataFrame
Columns: [concept, property, label_x, label_y]
Index: []

In [12]:
df_pos_valid = df_valid_pos_neg[df_valid_pos_neg["label"] == 1]
df_pos_valid

                     concept           property  label
4                      fruit       healthy food      1
11    carboxymethylcellulose           adhesive      1
28                     shape           property      1
34         relative humidity          parameter      1
50                   calcium           nutrient      1
...                      ...                ...    ...
7283                   102 a  product dispenser      1
7300                     cup               item      1
7302            food service           industry      1
7305                   glass          substance      1
7312         business center           facility      1

[1271 rows x 3 columns]

In [13]:
# Checking overlap with test data
df_overlap_valid_test = df_test_pos_neg.merge(df_pos_valid, how = 'inner', on = ["concept", "property"], indicator=False)
df_overlap_valid_test

Empty DataFrame
Columns: [concept, property, label_x, label_y]
Index: []

In [14]:
df_pos_train = df_pos_train.drop("label", axis=1)

In [15]:
df_pos_train.to_csv("./../data/train_data/MSCG/70k_nbs_pos_train_mscg.tsv", sep="\t", index=None, header=None)

In [16]:
df_pos_valid = df_pos_valid.drop("label", axis=1)

In [17]:
df_pos_valid.to_csv("./../data/train_data/MSCG/70k_nbs_pos_valid_mscg.tsv", sep="\t", index=None, header=None)